/*GLOBAL*/

:root{

    --fuenteParrafo: "IBM Plex Serif", serif;
    --fuenteTitulo: "Bona Nova SC", serif
}

html {
    box-sizing: border-box;
    overflow-x: hidden;

}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
body{
    font-family: var(--fuenteParrafo);
    overflow-x: hidden;
}
img{
    width: 100%;
}
.img--centrada{
    object-position: center;
}

.fuenteTitulo{
    font-family: var(--fuenteTitulo);
}

/*Navegacion*/

.navegacion__link{
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: block;
    font-weight: bold;
}
.navegacion__link:hover{
    background-color: #e4e4e4;
}

@media (min-width: 1024px) {
    .navegacion__link{
        width: auto;
        padding: 2rem;
    }
}


/*HERO*/

.hero, .heroGeneral, .heroProperty{
    height: 15rem;
}
@media (min-width: 1024px) {
    .hero, .heroGeneral{
        height: 25rem;
    }
    .heroProperty{
        height: 15rem;
    }
}

/*BANNERS*/
.banner{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.banner--bg_1{
    background-image: url("../images/image_24.jpg");

}

.banner--bg_2{
    background-image:url("../images/image_1.jpg");
}

.banner--bg_3{
    background-image: url("../images/image_3.jpg");
}

.iframe{
    width: 100%;
}